<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <connectionStrings>
        <add name="ZamvAppConnectionString" connectionString="Data Source=Zamvrentals2.db.5434092.4fe.hostedresource.net; Initial Catalog=Zamvrentals2; User ID=Zamvrentals2; Password=Hill90210!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web><customErrors mode="Off"/>
      <authentication mode="Forms">
        
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH"></forms>
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
      <compilation debug="true" targetFramework="4.5" />
     
    </system.web>
 <location path="Register.aspx">
        <system.web>
        <authorization>
            <allow users ="*" />
        </authorization>
        </system.web>
        </location>
   <location path="viewInvoice.aspx">
        <system.web>
        <authorization>
            <allow users ="*" />
        </authorization>
        </system.web>
        </location>
   <location path="ForgotPassword.aspx">
        <system.web>
        <authorization>
            <allow users ="*" />
        </authorization>
        </system.web>
        </location>
  <location path="Confirm.aspx">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  <location path="basicsettings.aspx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  
  
<appSettings>
    <add key="AuthNetTransKey" value="5G83U29tSjk7GZmU"/>
    <add key="AuthNetLoginId" value="4Mz7sn3qZFm"/>
    <add key="AuthNetVersion" value="2.1"/>
    <add key="AuthMerchantEmail" value="armandopantoja81@gmail.com"/>
    
    <add key="MaxUsersFree" value="0"/>
    <add key="MaxUsersPro" value="2"/>
    <add key="MaxUsersAdvanced" value="100"/>
   
    <add key="MaxAssetsFree" value="10"/>
    <add key="MaxAssetsPro" value="50"/>
    <add key="MaxAssetsAdvanced" value="200"/>

  <add key="FreeCost" value="0"/>

  <add key="AdvancedCost" value="59"/>
  <add key="ProCost" value="89"/>
    <add key="DefaultStatus" value="Open;Closed"/>
</appSettings>

  
</configuration>
